<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product
      Name="Axoflow OpenTelemetry Collector"
      Id="*"
      UpgradeCode="BBD75D8E-8F77-440A-B780-4F30C3E099B6"
      Version="{{ .Version }}"
      Manufacturer="Axoflow Inc."
      Language="1033">
      
      <Package
         InstallerVersion="200"
         Compressed="yes"
         Comments="Windows Installer Package"
         InstallScope="perMachine"/>
      <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
      <Icon Id="ProductIcon" SourceFile="axoflow.ico"/>
      <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
      <Property Id="ARPHELPLINK" Value="https://axoflow.com/"/>
      <Property Id="ARPURLINFOABOUT" Value="https://axoflow.com/"/>
      <Property Id="ARPNOREPAIR" Value="1"/>
      <Property Id="ARPNOMODIFY" Value="1"/>

      <MajorUpgrade
         DowngradeErrorMessage="A later version of Axoflow OpenTelemetry Collector already installed. Setup will now exit."/>

      <Feature Id="Feature" Level="1">
         <ComponentRef Id="ApplicationComponent"/>
      </Feature>

      <Property Id="COLLECTOR_SVC_ARGS"/>
      <CustomAction
         Id="SetCollectorSvcArgs"
         Property="COLLECTOR_SVC_ARGS"
         Value="--config &quot;[INSTALLDIR]config.yaml&quot;"/>

      <InstallExecuteSequence>
         <Custom Action="SetCollectorSvcArgs" Before="InstallFiles">NOT COLLECTOR_SVC_ARGS</Custom>
      </InstallExecuteSequence>

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFiles64Folder">
            <Directory Id="COMPANYDIR" Name="Axoflow">
               <Directory Id="INSTALLDIR" Name="OpenTelemetry Collector">
                  <Component Id="ApplicationComponent" Guid="A4EC99AE-4DBA-4C66-81C5-6434236CC031">
                     <!-- Files to include -->
                     <File
                        Id="{{ .Binary }}.exe"
                        Name="{{ .Binary }}.exe"
                        Source="{{ .Binary }}.exe"
                        KeyPath="yes"/>
                     <File
                        Id="config.yaml"
                        Name="config.yaml"
                        Source="windows_config.yaml"/>
                     <File
                        Id="README.md"
                        Name="README.md"
                        Source="README_windows.md"/>

                     <ServiceInstall
                        Id="Sevice"
                        Name="{{ .Binary }}"
                        DisplayName="Axoflow OpenTelemetry Collector"
                        Description="Collects, processes, and exports telemetry from various configurable sources."
                        Type="ownProcess"
                        Vital="yes"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="normal"
                        Arguments="[COLLECTOR_SVC_ARGS]"
                        Interactive="no"/>
                     <ServiceControl
                        Id="StartStopRemoveService"
                        Name="{{ .Binary }}"
                        Start="install"
                        Stop="both"
                        Remove="uninstall"
                        Wait="yes"/>

                     <RegistryKey
                        Root="HKLM"
                        Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\{{ .Binary }}">
                        <RegistryValue 
                           Type="expandable"
                           Name="EventMessageFile"
                           Value="%SystemRoot%\System32\EventCreate.exe"/>
                     </RegistryKey>
                  </Component>
               </Directory>
            </Directory>
         </Directory>
      </Directory>

      <Property Id="CONFIG_FILE_EXISTS" Value="0"/>
      <CustomAction 
         Id="CheckConfigFileExists" 
         ExeCommand="cmd /c if exist &quot;[INSTALLDIR]config.yaml&quot; (exit 0) else (exit 1)" 
         Directory="INSTALLDIR"
         Return="check" />
      <CustomAction
         Id="SetConfigFileExists"
         Property="CONFIG_FILE_EXISTS"
         Value="1"
         Execute="immediate" />
      <CustomAction
         Id="CopyDefaultConfig"
         ExeCommand="xcopy /y &quot;[INSTALLDIR]config.yaml&quot; &quot;[INSTALLDIR]&quot;"
         Directory="INSTALLDIR"
         Impersonate="no"
         Execute="deferred"
         Return="check" />

      <InstallExecuteSequence>
         <Custom Action="CheckConfigFileExists" After="CostFinalize">NOT Installed</Custom>
         <Custom Action="SetConfigFileExists" After="CheckConfigFileExists">NOT Installed AND %CheckConfigFileExists = 0</Custom>
         <Custom Action="CopyDefaultConfig" After="InstallFiles">CONFIG_FILE_EXISTS = 0 AND NOT Installed</Custom>
      </InstallExecuteSequence>

   </Product>
</Wix>
