<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product
      Name="Axoflow OpenTelemetry Collector"
      Id="*"
      UpgradeCode="BBD75D8E-8F77-440A-B780-4F30C3E099B6"
      Version="{{ .Version }}"
      Manufacturer="Axoflow Inc."
      Language="1033">
      
      <Package
         InstallerVersion="200"
         Compressed="yes"
         Comments="Windows Installer Package"
         InstallScope="perMachine"/>
      <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
      <Icon Id="ProductIcon" SourceFile="axoflow.ico"/>
      <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
      <Property Id="ARPHELPLINK" Value="https://axoflow.com/"/>
      <Property Id="ARPURLINFOABOUT" Value="https://axoflow.com/"/>
      <Property Id="ARPNOREPAIR" Value="1"/>
      <Property Id="ARPNOMODIFY" Value="1"/>

      <MajorUpgrade
         DowngradeErrorMessage="A later version of Axoflow OpenTelemetry Collector already installed. Setup will now exit."/>

      <Feature Id="Feature" Level="1">
         <ComponentRef Id="ApplicationComponent"/>
         <ComponentRef Id="StartServiceComponent"/>
      </Feature>
      <Feature Id="configFeature" Level="1" Absent="disallow">
         <ComponentRef Id="ConfigComponent"/>
      </Feature>

      <Property Id="DISABLE_AUTOSTART" Value="0"/>
      <Property Id="COLLECTOR_SVC_ARGS"/>
      <CustomAction
         Id="SetCollectorSvcArgs"
         Property="COLLECTOR_SVC_ARGS"
         Value="--config &quot;[CommonAppDataFolder]Axoflow\OpenTelemetry Collector\config.yaml&quot;"/>

      <InstallExecuteSequence>
         <Custom Action="SetCollectorSvcArgs" Before="InstallFiles">NOT COLLECTOR_SVC_ARGS</Custom>
      <InstallServices />
      <StartServices Condition="DISABLE_AUTOSTART&lt;&gt;1" />
      </InstallExecuteSequence>

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFiles64Folder">
            <Directory Id="COMPANYDIR" Name="Axoflow">
               <Directory Id="INSTALLDIR" Name="OpenTelemetry Collector">
                  <Component Id="ApplicationComponent" Guid="A4EC99AE-4DBA-4C66-81C5-6434236CC031">
                     <!-- Files to include -->
                     <File
                        Id="{{ .Binary }}.exe"
                        Name="{{ .Binary }}.exe"
                        Source="{{ .Binary }}.exe"
                        KeyPath="yes"/>
                     <File
                        Id="README.md"
                        Name="README.md"
                        Source="README_windows.md"/>
                     <File
                        Id="etw_library_license.txt"
                        Name="etw_library_license.txt"
                        Source="etw_library_license.txt"/>
                     <File
                        Id="default_config.yaml"
                        Name="default_config.yaml"
                        Source="windows_config.yaml"/>

                     <ServiceInstall
                        Id="Service"
                        Name="{{ .Binary }}"
                        DisplayName="Axoflow OpenTelemetry Collector"
                        Description="Collects, processes, and exports telemetry from various configurable sources."
                        Type="ownProcess"
                        Vital="yes"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="normal"
                        Arguments="[COLLECTOR_SVC_ARGS]"
                        Interactive="no"/>
                     <ServiceControl
                        Id="StopRemoveService"
                        Name="{{ .Binary }}"
                        Stop="both"
                        Remove="uninstall"
                        Wait="yes"/>

                     <RegistryKey
                        Root="HKLM"
                        Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\{{ .Binary }}">
                        <RegistryValue 
                           Type="expandable"
                           Name="EventMessageFile"
                           Value="%SystemRoot%\System32\EventCreate.exe"/>
                     </RegistryKey>
                  </Component>
                  <Component Id="StartServiceComponent" Guid="*">
                     <ServiceControl
                        Id="StartService"
                        Name="{{ .Binary }}"
                        Start="install"
                        Wait="yes"/>
                  <!-- NOTE:
                      Windows Installer uses the KeyPath to detect whether a given Component is registered.
                      ServiceControl type nodes do not have a KeyPath attribute, so we need to supply the RegistryKey manually.
                  -->
                     <RegistryKey Root="HKCU" Key="Software\Axoflow">
                        <RegistryValue Id="StartServiceComponent" Type="string" Name="present" Value="1" KeyPath="yes"/>
                    </RegistryKey>
                  </Component>
               </Directory>
            </Directory>
         </Directory>
           <Directory Id="CommonAppDataFolder">
                <Directory Id="AxoflowConfigDir" Name="Axoflow">
                  <Directory Id="AxoflowConfigDirOtelCol" Name="OpenTelemetry Collector">
                  <Component Id="ConfigComponent" Permanent="yes" NeverOverwrite="yes">
                    <File
                      Id="ConfigFile"
                      Name="config.yaml"
                      Source="windows_config.yaml"
                      KeyPath="yes"/>
                  </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
   </Product>
</Wix>
